<h2 mat-dialog-title>Agregar una estampa repetida</h2>
<mat-dialog-content>
  <form [formGroup]="repeatedForm" (ngSubmit)="submit()">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Grupo</mat-label>
      <mat-select formControlName="selectedGroup">
        @for(group of groups; track group.letter){
          <mat-option [value]="group">{{ group.letter }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field-sm" appearance="outline">
      <mat-label>País</mat-label>
      <mat-select formControlName="selectedCountry">
        <mat-select-trigger>
          <div class="selected">
            @if(selectedGroup.value?.letter !=='Especiales') {
              <img height="21" width="32" [src]="getFlag(selectedCountry.value)">
            }
            <span>{{ selectedCountry.value }}</span>
          </div>
        </mat-select-trigger>
        @for(country of selectedGroup.value?.countries ?? []; track country.code){
          <mat-option [value]="country.code">
            <div class="d-flex">
              @if(selectedGroup.value?.letter !=='Especiales') {
                <img height="21" width="32" [src]="getFlag(country.code)">
              }
              <span>{{ country.name }}</span>
            </div>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button 
      class="search-button"
      mat-mini-fab color="primary"
      matTooltip="Buscar país"
      type="button"
      (click)="searchCountry()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>Número</mat-label>
      <mat-select formControlName="selectedSticker">
        @for(number of numbers; track number){
          <mat-option [value]="number - 1">
            @if(selectedCountry.value === 'FWC') {
              @if(number === 1) {
                <span>00</span>
              } @else {
                <span>{{ number - 1 }}</span>
              }
            } @else {
              {{ number }}
            }
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="actions">
      <button
        mat-button 
        class="back"
        type="button"
        (click)="cancelAction()">Cerrar</button>
      <button
        mat-flat-button 
        class="add"
        cdkFocusInitial 
        type="submit"
        [disabled]="repeatedForm.invalid">Guardar</button>
    </div>
  </form>
</mat-dialog-content>