.form-field {
  width: 90%;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.album-page {
  padding: 10px;
  border: 2px solid #c0c4c9;
  background-color: #dde6f0;
  max-width: 500px;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

img {
  margin-right: 25px;
}

.selected {
  display: flex;
  height: 20px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

button {
  margin-left: 5px;
}
