.principal {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.welcome-card {
  max-width: 90vw;
  max-height: 90%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8)
}

.welcome-content {
  padding-block: 15px;
}

mat-card-title {
  margin-bottom: 15px;
}

.form-field {
  width: 100%;
}

.short-message{
  font-size: 8pt;
  margin-left: 10px;
}

.align-end {
  display: flex;
  justify-content: end;
}

.break-space {
  padding-block: 5px; 
}
