<div class="principal">
  <mat-card appearance="outlined" class="repeated-section">
    <mat-card-header>
      <mat-card-title>
        Estampas repetidas
      </mat-card-title>
      <mat-card-subtitle>
        Aquí podrás llevar el control de tus estampas repetidas
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="repeated-content">
        <p>¡Comenzemos!</p>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="/">Regresar</button>
      <button mat-flat-button (click)="openDialog()">Agregar</button>
    </mat-card-actions>
  </mat-card>
</div>