<div class="principal">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Estampas repetidas
      </mat-card-title>
      <mat-card-subtitle>
        Aquí podrás llevar el control de tus estampas repetidas.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="repeated-content">
        @if(repeatedList.length < 1) {
          <p>Aún no tienes estampas repetidas</p>
        } @else {
          @for(repeatedItem of repeatedList; track $index) {
            @if(repeatedItem.values.length > 0) {
              <div class="country">
                <div class="head-country">
                  <p>{{ getCode(repeatedItem.key) }}</p>
                  <img width="32" [src]="getFlag(getCode(repeatedItem.key))">
                </div>
                @for(value of repeatedItem.values; track $index){
                  <mat-chip-row (removed)="remove(getCode(repeatedItem.key), value)">
                    {{ value }}
                    <button matChipRemove [attr.aria-label]="'remove ' + value">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </div>
            }
          }
        }
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="/">Regresar</button>
      <button mat-flat-button (click)="openDialog()">Agregar</button>
    </mat-card-actions>
  </mat-card>
</div>