.principal {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.repeated-section {
  max-width: 90vw;
  max-height: 90%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8)
}

.repeated-content {
  padding-block: 15px;
}

button {
  margin-left: 10px;
}
