.form-field {
  width: 90%;
}

.form-field-lg {
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.album-page {
  padding: 10px;
  border: 2px solid #c0c4c9;
  background-color: #dde6f0;
  max-width: 500px;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

img {
  margin-right: 25px;
}

.selected {
  display: flex;
  height: 20px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

button {
  margin-left: 5px;
}

.p2 {
  padding: 0% 5%;
}

.stickers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #000 dotted;
}

.checkbox-label {
  margin-top: 4px;
  text-align: center;
}
