<div>
  <form [formGroup]="pageForm" (ngSubmit)="submit()">
    <div class="d-flex">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Grupo</mat-label>
        <mat-select formControlName="selectedGroup">
          @for(group of groups; track group.letter){
            <mat-option [value]="group">{{ group.letter }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="space-between p2">
      <mat-form-field class="form-field-lg" appearance="outline">
        <mat-label>País</mat-label>
        <mat-select formControlName="selectedCountry">
          <mat-select-trigger>
            <div class="selected">
              @if(selectedGroup.value?.letter !=='Especiales') {
                <img height="21" width="32" [src]="imgUrl + selectedCountry.value">
              }
              <span>{{ selectedCountry.value }}</span>
            </div>
          </mat-select-trigger>
          @for(country of selectedGroup.value?.countries ?? []; track country.code){
            <mat-option
              [value]="country.code"
              [style.background]="getBackground(country.code)">
              <div class="d-flex">
                @if(selectedGroup.value?.letter !=='Especiales') {
                  <img height="21" width="32" [src]="imgUrl + country.code">
                }
                <span>{{ country.name }}</span>
              </div>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button
        class="search-button"
        mat-mini-fab color="primary"
        matTooltip="Buscar país"
        type="button"
        (click)="searchCountry()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    @if(selectedGroup.value !== null && selectedCountry.value != null) {
      <div class="d-flex">
        <div class="album-page">
          <div class="space-between">
            <p>Estampas</p>
            <mat-checkbox 
              (change)="selectAll($event.checked)"
              [labelPosition]="'before'"
              formControlName="selectAllControl">
              Seleccionar todo</mat-checkbox>
          </div>
          <section formArrayName="selectedStickers">
            <div class="stickers">
              @if(selectedCountry.value === 'FWC') {
                @for(ctrl of selectedStickers.controls; track $index){
                    <div class="checkbox-container">
                      <mat-checkbox [formControlName]="$index"></mat-checkbox>
                      @if($index === 0){
                        <span>00</span>
                      } @else {
                        <span>{{ $index }}</span>
                      }
                    </div>
                  }
              } @else if (selectedCountry.value === 'CC') {
                @for(ctrl of selectedStickers.controls; track $index){
                  @if($index < 14) {
                    <div class="checkbox-container">
                      <mat-checkbox [formControlName]="$index"></mat-checkbox>
                      <span>{{ $index + 1 }}</span>
                    </div>
                  }
                }
              } @else {
                @for(ctrl of selectedStickers.controls; track $index){
                  <div class="checkbox-container">
                    <mat-checkbox [formControlName]="$index"></mat-checkbox>
                    <span>{{ $index + 1}}</span>
                  </div>
                }
              }
            </div>
          </section>
        </div>
      </div>
    }
    @if(pageForm.valid) {
      <div class="actions">
        <button 
          mat-flat-button 
          type="submit" 
          [disabled]="pageForm.invalid">Guardar</button>
      </div>
    }
  </form>
</div>
