<div>
  <form [formGroup]="pageForm" (ngSubmit)="submit()">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Grupo</mat-label>
          <mat-select formControlName="selectedGroup">
              @for(group of groups; track $index){
                <mat-option [value]="group">Group {{ group.letter }}</mat-option>
              }
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>País</mat-label>
          <mat-select formControlName="selectedCountry">
            <mat-select-trigger>
              <div class="selected">
                <img width="32" [src]="getFlag(selectedCountry.value)">
                <span>{{ selectedCountry.value }}</span>
              </div>
            </mat-select-trigger>
            @for(country of countries; track $index){
              <mat-option [value]="country.code">
                <div class="d-flex">
                  <img width="32" [src]="getFlag(country.code)">
                  <span>{{ country.name }}</span>
                </div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    @if(selectedGroup.value !== '' && selectedCountry.value != '') {
      <div class="d-flex">
        <div class="album-page">
          <p>Estampas:</p>
          <section formArrayName="selectedStickers">
            @for(ctrl of selectedStickers.controls; track $index){
              <mat-checkbox
                [formControlName]="$index">
                  {{ $index + 1}}
              </mat-checkbox>
            }
          </section>
        </div>
      </div>
    }
    <div class="actions">
      <button mat-flat-button type="submit" [disabled]="pageForm.invalid">Guardar</button>
    </div>
  </form>
</div>
